/node_modules
/public/hot
/public/build
/public/storage
/public/assets/product
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
deploy_key
/flyers-incoming/*
!/flyers-incoming/.gitkeep
.DS_Store
